body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Reem Kufi Ink', sans-serif;
}
.img {
    width: 120px;
    height: auto;
  }
  
header {
    background-color: #BBBBBB;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}




.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

h2{
    text-align: center;
}

.items{
    font-size: 20px;
}

.principal{
    background: #FFFFFF;
    padding: 20px;
}
.stuff{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#banner{
    width:100%;
}

p{
    text-align: center;
}

em strong{
    color:rgb(112, 65, 34);
}

#mision{
    font-size: 20px;
}
.imagenDiferenciales{
    align-items: center;
    width: 22%;
    margin-left: 16px;
    margin-top: 5px;

}

table {
  float: right;
  margin-right: 80px;
}

thead {
    background: rgb(112, 65, 34);
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}
.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}